<st-docs [htmlFile]="configDoc.html" [tsFile]="configDoc.ts" [componentFile]="configDoc.component">
  <section class="container-fluid col-md-24 demo-layout">
     <p class="demo-label">Demo</p>
     <div class="demo-container">
        <div class="demo">
           <button class="button button-primary" (click)="triggerModal()">
              <span>Show modal</span>
           </button>
           <st-modal2
              [modalConfig]="modalConfig"
              [showModal]="showModal"
              (clickOutside)="showModal = false"
              (closeEscape)="showModal = false"
              (closeControl)="showModal = false">
              <span st-modal-header>Titulo de prueba</span>
              <span>Esto es un texto de prueba para el modal</span>
           </st-modal2>
        </div>
        <div class="demo-config">
           <div>
              <h1>Modal Type</h1>
              <st-radio-group class="st-inline-group" [(ngModel)]="modalType">
                 <st-radio [value]="'basic'" [checked]="true">Basic</st-radio>
                 <st-radio [value]="'information'">Information</st-radio>
                 <st-radio [value]="'warning'">Warning</st-radio>
                 <st-radio [value]="'error'">Error</st-radio>
              </st-radio-group>
           </div>
           <div>
              <h1>Options</h1>
              <st-checkbox name="clickOutside" [(ngModel)]="closeControl">
                 <span>Close control</span>
              </st-checkbox>
              <st-checkbox name="clickOutside" [(ngModel)]="clickOutside">
                 <span>Click outside</span>
              </st-checkbox>
              <st-checkbox name="fullWindow" [(ngModel)]="fullWindow">
                 <span>Full window</span>
              </st-checkbox>
              <st-checkbox name="enableAnimation" [(ngModel)]="enableAnimation">
                 <span>Enable animation</span>
              </st-checkbox>
              <st-checkbox name="standardHeader" [(ngModel)]="showStandardHeader">
                 <span>Show standard header</span>
              </st-checkbox>
              <st-checkbox name="standardActions" [(ngModel)]="showStandardActions">
                 <span>Show standard actions</span>
              </st-checkbox>
           </div>
           <div>
              <div>
                 <st-input
                    class="st-form-field"
                    [fieldType]="'text'"
                    [(ngModel)]="modalTitle"
                    label="Modal title"
                    contextualHelp="Write the title of the modal"></st-input>
              </div>
           </div>
           <div>
              <st-input
                 class="st-form-field"
                 [fieldType]="'number'"
                 [(ngModel)]="width"
                 label="Width"
                 default="600"
                 contextualHelp="Write width in px"></st-input>
           </div>
           <div>
              <st-input
                 class="st-form-field"
                 [fieldType]="'number'"
                 [(ngModel)]="height"
                 label="Height"
                 contextualHelp="Write height in px"></st-input>
           </div>
           
           <div>
              <st-input
                 class="st-form-field"
                 [fieldType]="'number'"
                 [(ngModel)]="animationTime"
                 label="Animation time"
                 contextualHelp="Write animation time in ms"></st-input>
           </div>
        </div>
     </div>
  </section>
</st-docs>
